{% extends "shop_app/base.html" %}
{% block heading %}
<section class="page-section clearfix">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h1>
          <span class="section-heading-upper">CREATE USER</span>
        </h1>
      </div>
</section>
{% endblock %}

{% block message %}
<form method="post" action="" id ="register_form" >
  {% csrf_token %}
  <div class = "intro-text left-0 bg-faded p-5 rounded">
    {{form}}
    <input type="submit" value="Submit" class="p-3" style="margin-top: 10px;">
  </div>

</form>

{% endblock %}
{% block title %}

{% endblock %}