{% extends "authentication_app/base.html" %}

{% block title %}
    Current state
{% endblock %}

{% load static %}

{% block authentified %}
<div class="container text-center mt-2 mb-2">
    {% if "valid" in request.get_full_path %}
        <p class ="div btn-info">
            Thanks. The other users will be updated by mail!
        </p>
    {% elif "error" in request.get_full_path %}
        <p class ="div btn-danger">
            ERROR: Summary could not be sent. Check your connection or try latter.
        </p>
    {% else %}
        <a href="{% url 'send_report' %}" class ="btn btn-warning" >
            Send summary to users
        </a>
    {% endif %}
</div>

<table class = "table table-bordered"
style="background-color: white; text-align: center;">
    <thead>
        <tr>
            <th colspan="8" class ="text-center" style="background-color: lightblue;">
                NEED CALIBRATION
            </th>
        </tr>
        <tr style="background-color: lightblue;">
            <th>Device</th>
            <th>Location</th>
            <th>serial number</th>
            <th>is_available</th>
            <td>is_calibrating</td>
            <td>calibration_required</td>
            <td>controlled_by</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% if tools_need_calibration %}
            {% for device in tools_need_calibration %}
                <tr class="text-center" style="background-color: lightcoral;">
                    <td>{{device.name}}</td>
                    <td>{{device.location}}</td>
                    <td>{{device.serial_number}}</td>
                    <td>{{device.is_available}}</td>
                    <td>{{device.is_calibrating}}</td>
                    <td>{{device.calibration_required}}</td>
                    <td>{{device.controlled_by}}</td>
                    <td>
                        <a href="{% url 'admin:rent_tool_app_device_change' device.id %}" class ="btn btn-danger" >
                            Update device
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
        <tr class="text-center">
            <td colspan="8" style="text-align: center; background-color: lightcyan">
                No actions required
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>


<table class = "table table-bordered"
style="background-color: white; text-align: center;">
    <thead>
        <tr>
            <th colspan="8" class ="text-center" style="background-color: lightblue;">
                IN CALIBRATION
            </th>
        </tr>
        <tr style="background-color: lightblue;">
            <th>Device</th>
            <th>Location</th>
            <th>serial number</th>
            <th>is_available</th>
            <td>is_calibrating</td>
            <td>calibration_required</td>
            <td>controlled_by</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% if tools_are_calibrating %}
            {% for device in tools_are_calibrating %}
                <tr class="text-center" style="background-color: orange;">
                    <td>{{device.name}}</td>
                    <td>{{device.location}}</td>
                    <td>{{device.serial_number}}</td>
                    <td>{{device.is_available}}</td>
                    <td>{{device.is_calibrating}}</td>
                    <td>{{device.calibration_required}}</td>
                    <td>{{device.controlled_by}}</td>
                    <td>
                        <a href="{% url 'admin:rent_tool_app_device_change' device.id %}" class ="btn btn-info" >
                            Update device
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
        <tr class="text-center">
            <td colspan="8" style="text-align: center;background-color: lightcyan">
                All items are calibrated
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>

<table class = "table table-bordered"
style="color: black; background-color: white; text-align: center;">
    <thead>
        <tr>
            <th colspan="8" class ="text-center" style="background-color: lightblue;">
                OUTSIDE FACTORY
            </th>
        </tr>
        <tr style="background-color: lightblue;">
            <th>Device</th>
            <th>Location</th>
            <th>serial number</th>
            <th>is_available</th>
            <td>is_calibrating</td>
            <td>calibration_required</td>
            <td>controlled_by</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% if tools_not_factory %}
            {% for device in tools_not_factory %}
                <tr class="text-center">
                    <td>{{device.name}}</td>
                    <td>{{device.location}}</td>
                    <td>{{device.serial_number}}</td>
                    <td>{{device.is_available}}</td>
                    <td>{{device.is_calibrating}}</td>
                    <td>{{device.calibration_required}}</td>
                    <td>{{device.controlled_by}}</td>
                    <td>
                        <a href="{% url 'update_device' device.id %}" class ="btn btn-warning" >
                            Update device
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
        <tr class="text-center">
            <td colspan="8" style="text-align: center;background-color: lightcyan">
                All in factory
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>

<table class = "table table-bordered"
style="color: black; background-color: white; text-align: center;">
    <thead>
        <tr>
            <th colspan="8" class ="text-center" style="background-color: lightblue;">
                IN FACTORY AND CURRENTLY IN USE
            </th>
        </tr>
        <tr style="background-color: lightblue;">
            <th>Device</th>
            <th>Location</th>
            <th>serial number</th>
            <th>is_available</th>
            <td>is_calibrating</td>
            <td>calibration_required</td>
            <td>controlled_by</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% if tools_not_available %}
            {% for device in tools_not_available %}
                <tr class="text-center">
                    <td>{{device.name}}</td>
                    <td>{{device.location}}</td>
                    <td>{{device.serial_number}}</td>
                    <td>{{device.is_available}}</td>
                    <td>{{device.is_calibrating}}</td>
                    <td>{{device.calibration_required}}</td>
                    <td>{{device.controlled_by}}</td>
                    <td>
                        <a href="{% url 'update_device' device.id %}" class ="btn btn-primary" >
                            Update device
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
        <tr class="text-center">
            <td colspan="8" style="text-align: center;background-color: lightcyan">
                All items available
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}