{% extends "authentication_app/base.html" %}

{% block title %}
    Rent tools
{% endblock %}

{% load static %}

{% block heading %}
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Measurements</span>
            <span class="section-heading-lower">The best stock</span>
          </h2>
          <p class="mb-3">Remember updating the tool's state when you take it!
          </p>

        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block message %}
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Remember updating the tool's state when you take it!</span>
              <span class="section-heading-lower">Remember updating the tool's state when you take it!</span>
            </h2>
            <p class="mb-0">Remember updating the tool's state when you take it!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}