{% extends "authentication_app/base.html" %}

{% block title %}
    Rent tools
{% endblock %}

{% load static %}

{% block authentified %}
<table class = "table table-bordered"
style="color: white; background-color: BLACK; text-align: center;">
    <thead>
        <tr>
            <th colspan="6" class ="text-center">
                DEVICES
            </th>
        </tr>
        <tr>
            <th>Device</th>
            <th>Location</th>
            <th>serial number</th>
            <th>is_available</th>
            <th>controlled_by</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% if devices %}
            {% for device in devices %}
            <tr class="text-center">
                <td>{{device.name}}</td>
                <td>{{device.location}}</td>
                <td>{{device.serial_number}}</td>
                <td>{{device.is_available}}</td>
                <td>{{device.controlled_by}}</td>
                <td>
                    <a href="{% url 'update_device' device.id %}" class ="btn btn-warning" >
                        Update device
                    </a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
        <tr class="text-center">
            <td>test fail</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}